#header{
	text-align:center;
	background-color: #00B0CF;
	height: 100px;
	margin:0 auto;
}
.texto_centrado{
	padding-top:2%;
	color:white;
	font-size:25px;
	font-weight: bold;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
thead {
    background-color:#00B0CF;
}
.titulo {
    padding-top:6%;
    padding-bottom:6%;
    color:#007FFF;
    font-size:20px;
    font-weight:bold;
}
